
<!-- <app-bank></app-bank>
<app-life-cycle></app-life-cycle> -->
<!-- <app-form-demo></app-form-demo> -->
<!-- <app-reactive-form></app-reactive-form> -->
<app-reactive-form-group></app-reactive-form-group>
<!-- <p>data-binding works!</p> -->
<!-- <app-class-style-binding></app-class-style-binding> -->


<!-- <app-attribute-demo></app-attribute-demo> -->
<!-- <app-two-way-demo></app-two-way-demo>  -->


<!-- <h1>Interpollation and Property </h1>
<h1>{{Myapp}}</h1>
<h1>{{Display()}}</h1>

<input type="text" [disabled]='isdisabled' value="hii">mobile -->

<!-- <app-directive-if></app-directive-if>-->
<!-- <app-pipe-demo></app-pipe-demo>   -->

